@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: -1px;
}

:root {
    --primary-color: rgb(227, 227, 227);
    --hover-color: rgb(188, 188, 188);
    --primary-text-color: rgb(20, 20, 20);
    --secondar-text-color: rgb(60, 60, 60);
    --btn-color: rgb(69, 212, 203);
}

body {
    padding: 10px;
    overflow-x: hidden;
}

/* Header Stylings */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#site-title {
    font-size: 3rem;
    font-weight: 700;
}

/* Main Styling */

main {
    display: grid;
    grid-template-columns: minmax(250px, 350px) 1fr;
    position: relative;
}

/* Menu Styling */

#menu {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: calc(100vh - 100px);
}

#menu-title, #projects-section, #checklist-section, .menu-subtitle, .project-bar, .checklist-bar {
    width: 100%;
}

#projects-section, #checklist-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#projects-list, #checklist-list {
    display: flex;
    flex-direction: column;
}

#menu-title, #project-title, .menu-subtitle, .form-heading {
    border-bottom: 1px solid var(--hover-color);
}

#menu-title, #project-title, .form-heading {
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px;
}

.menu-subtitle, .task-title {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
}

.menu-subtitle, .project-bar, .checklist-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondar-text-color);
    transition: all .2s;
}

.project-bar, .checklist-bar {
    padding: 10px;
    margin-top: 10px;
    width: 95%;
    align-self: flex-end;
}

.project-bar:hover, #add-project:hover, .checklist-bar:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--hover-color);
}

.icon, .delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    background: url(./assets/plus.png) center center/cover no-repeat;
}

.delete-icon {
    background: url(./assets/bin.png) center center/cover no-repeat;
    height: 20px;
    width: 16px;
    display: none;
}

.count {
    padding: 1px 10px;
    border-radius: 5px;
    background-color: white;
}

.project-name {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

/* Task Section Styling */

#tasks-section {
    padding: 20px;
}

#task-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.task {
    padding: 10px;
    transition: all .3s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.task:hover, .submit-btn:hover, .cancel-btn:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--hover-color);
}

.task-title {
    color: var(--primary-text-color);
    padding: 0;
    max-width: 85%;
}

.task-desc {
    color: var(--secondar-text-color);
    margin-top: 10px;
}

.task-items, .extra-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-items {
    padding: 10px;
}

.check-box {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid var(--secondar-text-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.checked-task {
    text-decoration: line-through;
    color: var(--secondar-text-color);
}

.check-box:hover {
    background: url(./assets/tick.png) center center/cover no-repeat;
}

.check-box.checked {
    background: url(./assets/tick.png) center center/cover no-repeat;
}

.task-delete {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    padding: 5px;
}

.task-delete:hover {
    background-color: var(--hover-color);
}

/* Info Input Section Styling */

#info-input-sec {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 0;
    right: -700px;
    transition: all .5s ease-out;
}

#project-info, #task-info {
    display: none;
    align-items: start;
    flex-direction: column;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.label {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--secondar-text-color);
    text-decoration: underline;
    /* margin-top: 5px; */
}

form input, textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
}

form input:focus, textarea:focus {
    border: none;
    outline: none;
}

form input[type='color'] {
    background-color: white;
}

.form-btn, #priorities {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.submit-btn, .cancel-btn {
    width: 100px;
    transition: all .3s;
    margin-top: 20px;
}

.submit-btn {
    background-color: var(--btn-color);
}

#h, #m, #l {
    font-size: 1rem;
}

#h {
    color: red;
}

#m {
    color: orange;
}

#l {
    color: green;
}

#add-task {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    background: var(--primary-color);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px;
    transition: all .3s;
    z-index: 10;
}

#add-task:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#add-task > img {
    height: 100%;
    width: 100%;
}